{% extends 'ent/base.html' %}

{% load crispy_forms_tags %}  <!-- check meerasblog settings.py for this -->

{% block style %}
  <style>
  #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}
  </style>


{% endblock %}

{% block title %}Contact Us | {{ block.super }}{% endblock %}



{% block content %}

      <div class='contact1'>
        <h1>{{ title }}</h1>
    
      {% if confirm_message %}
      <p> {{ confirm_message}} </p> <!-- title and confirm msg in contacts views.py -->
      {% endif %}

      {% if form %}
          <form method='POST' action=''> {% csrf_token %}
              {{ form|crispy }}
              <input id='btnn' type='submit' value='submit form'/>
          </form>
      {% endif %}
  </div>
                    
{% endblock %}
